@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $class == md {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: mobile, computer";
  }
}

@mixin bottom-radius($percent) {
  border-bottom-left-radius: $percent;
  border-bottom-right-radius: $percent;
}

@mixin top-radius($percent) {
  border-top-left-radius: $percent;
  border-top-right-radius: $percent;
}

@mixin background-absolute() {
  position: absolute;
  left: -15%;
  width: 130%;
}

@mixin no-max-width() {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

@mixin default-list() {
  list-style-type: none;
  list-style-position: inside;
}

@mixin button-radius($size: medium) {
  @if $size == big {
    border-radius: $big-radius;
  }
}
