// Fonts
$font-default: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
$font-alternative: 'Lato', sans-serif;

$font-text: $font-default;
$font-title: $font-alternative;

$color-blue-purple-gradient: linear-gradient(-140deg, #7F83EF 6%, #3A7BD5 100%);
$color-white: #FFFFFF;
$color-light-grey: #FAFBFE;

// Colors
$background-main: $color-white;
$background-down: $color-light-grey;
$background-up: $color-blue-purple-gradient;
