// Fonts
$font-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
  sans-serif;
$font-alternative: "Lato", sans-serif;
$font-logo: "Rancho", sans-serif;

$font-text: $font-default;
$font-title: $font-logo;
$font-subtitle: $font-alternative;
$font-paragraph: $font-default;
$font-button: $font-alternative;

// Colors
$color-blue-purple-gradient: linear-gradient(-140deg, #7f83ef 6%, #3a7bd5 100%);
$color-white: #ffffff;
$color-black: black;
$color-light-grey: #fafbfe;
$color-light-blue: #e4edff;
$color-blue: #5f8ae4;
$color-persistent-blue: #4979d5;

$color-flashy-blue: #eef9ff;
$color-grey-blueish: #becde2;
$color-grey-modal: #90a4ae;

$color-detail: #808988;

$background-main: $color-white;
$background-down: $color-light-grey;
$background-up: $color-blue-purple-gradient;
$background-message-request: $color-flashy-blue;
$background-hover-links: $color-light-blue;
$border-message-request: $color-grey-blueish;
$background-message-answer: $color-white;
$border-message-answer: #dfe2e6;

// Spacing
$spacing-unit: 0.3em;
$sizing-unit: 0.4rem;
$pixeling-unit: 10px;

$big-radius: 2em;
$medium-radius: 1em;
$small-radius: 5px;
