.button {
  cursor: pointer;
}

.button__on-white {
  @include button-radius("big");
  margin: -0.5em;
  padding: spacing(4, 12, 4, 12);
  font-size: sizing(2);
  text-transform: uppercase;
  background-color: $color-blue;
  a {
    @include extend-clickable(1em, 1em);
    color: $color-white;
    font-weight: bold;
  }
}

.button__on-black {
  @include button-radius("big");
  margin: -0.5em;
  padding: spacing(4, 12, 4, 12);
  font-size: sizing(2);
  text-transform: uppercase;
  background-color: $color-white;
  a {
    @include extend-clickable(1em, 1em);
    color: $color-black;
    font-weight: bold;
  }
}

.button__on-white--squared {
  @include button-radius("small");
}
