.button {
  text-transform: uppercase;
  cursor: pointer;
  @include button-radius("big");
  padding: spacing(4, 12, 4, 12);
  font-size: sizing(2);
  a {
    @include extend-clickable(1em, 1em);
    font-weight: bold;
  }
}

.button__blue-on-white {
  background-color: $color-blue;
  a {
    color: $color-white;
  }
}

.button__white-on-blue {
  background-color: $color-white;
  a {
    color: $color-black;
  }
}

.button--squared {
  @include button-radius("small");
}
