*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: $font-default;
  font-size: sizing(2.5);
  overflow: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input:focus,
input:active {
  outline: 0;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

h1 {
  font-size: sizing(12);
  font-family: $font-title;
}

p {
  font-size: sizing(6);
  font-family: $font-subtitle;
}

a {
  text-decoration: none;
  color: $color-blue;
  font-family: $font-button;
}
