@import "node_modules/flexboxgrid/css/flexboxgrid.min.css";

// needed for backgrounds
.row {
  margin-right: 0;
  margin-left: 0;
}

.wrap {
  margin: 0 auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  // width: 100%;
  max-width: 1420px;
}

.undo-wrap {
  max-width: none;
  padding-right: 0;
  padding-left: 0;
}

.start-sm {
  @include breakpoint("sm") {
    text-align: left;
  }
}

.start-md {
  @include breakpoint("md") {
    text-align: left;
  }
}

.start-lg {
  @include breakpoint("lg") {
    text-align: left;
  }
}
