/**
 * Base colors
 */

// Whites
$color-white: #ffffff;

// Blues
$color-light-blue: #e4edff;
$color-flashy-blue: #eef9ff;
$color-blue: #5f8ae4;
$color-persistent-blue: #4979d5;
$color-blue-purple-gradient: linear-gradient(-140deg, #7f83ef 6%, #3a7bd5 100%);

// Reds
$color-red: #d75a4a;

// Greys
$color-very-light-grey: #f7f8fd;
$color-light-grey: #dfe2e6;
$color-grey-blueish: #becde2;
$color-grey: #90a4ae;
$color-dark-grey: #808988;

// Blacks
$color-black: black;

/**
 * Elements colors
 */

// Texts
$text-modal-color: $color-grey;
$text-input-placeholder-color: $color-grey;
$text-input-color: $color-persistent-blue;
$text-header-call-to-action-color: $color-blue;
$text-footer-color: $color-white;
$text-title-color: $color-white;
$text-header-color: $color-white;
$text-blue-button-color: $color-white;
$text-white-button-color: $color-black;
$text-details-color: $color-dark-grey;
$text-subtitle-color: $color-persistent-blue;
$text-tag-color: $color-persistent-blue;
$text-highlighted-color: $color-persistent-blue;
$text-base-link-color: $color-blue;
$text-page-link-color: $color-blue;

// Backgrounds
$background-landing-how-color: $color-very-light-grey;
$background-header-call-to-action-color: $color-white;
$background-white-button-color: $color-white;
$background-header-color: $color-white;
$background-message-myself-color: $color-flashy-blue;
$background-hover-links: $color-light-blue;
$background-message-yourself-color: $color-white;
$background-footer-color: $color-blue;
$backgroud-blue-button-color: $color-blue;
$background-header-alt-color: $color-blue;
$background-modal-call-to-action-color: $color-persistent-blue;

// Borders
$border-error-color: $color-red;
$border-input-color: $color-grey;
$border-message-myself-color: $color-grey-blueish;
$border-message-yourself-color: $color-light-grey;
