// Base colors
$color-blue-purple-gradient: linear-gradient(-140deg, #7f83ef 6%, #3a7bd5 100%);
$color-white: #ffffff;
$color-black: black;
$color-light-grey: #f7f8fd;
$color-light-blue: #e4edff;
$color-blue: #5f8ae4;
$color-persistent-blue: #4979d5;

$color-flashy-blue: #eef9ff;
$color-grey-whiteish: #dfe2e6;
$color-grey-blueish: #becde2;
$color-grey-modal: #90a4ae;

$color-detail: #808988;

$color-red: #d75a4a;

// Elements colors
$background-main: $color-white;
$background-down: $color-light-grey;
$background-up: $color-blue-purple-gradient;
$background-message-myself: $color-flashy-blue;
$background-hover-links: $color-light-blue;
$background-message-yourself: $color-white;
$border-message-myself: $color-grey-blueish;
$border-message-yourself: $color-grey-whiteish;
